{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 py-5 ps-5 justify-content-end align-content-center">
                <h1>
                    Bienvenue!
                </h1>
                <p>
                    Trouvez le restaurant idéal en quelques clics sur notre site grâce à notre outil de filtrage
                    intuitif. Fini les recherches fastidieuses, bonjour à une expérience culinaire personnalisée !
                </p>
                <div class="d-block rounded" style="max-width: 300px;">
                {{ form_start(form) }}
                    {{ form_row(form.items) }}
                    {{ form_row(form.city) }}
                    <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>
                {{ form_end(form) }}
                </div>
            </div>
            <div class="col-md-8 col-sm-12 align-self-center">
                <img src="{{ asset('build/images/fruits.jpg') }}" class="img-fluid" alt="fruits">
            </div>
        </div>
    </div>
{% endblock %}
