{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 py-5 ps-5 justify-content-end align-content-center">
                <h1>
                    Bienvenue!
                </h1>
                <p>
                    Trouvez le restaurant idéal en quelques clics sur notre site grâce à notre outil de filtrage
                    intuitif. Fini les recherches fastidieuses, bonjour à une expérience culinaire personnalisée !
                </p>
                {{ form_start(form, {'attr': {'action': path('home_index')} }) }}
                <div class="d-block rounded" style="max-width: 300px;">
                    {{ form_widget(form.items) }}
                    {{ form_widget(form.city) }}
                    <button class="btn btn-primary mt-4" type="submit">Rechercher</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-8 col-sm-12 align-self-center">
                <img src="{{ asset('build/images/fruits.jpg') }}" class="img-fluid" alt="fruits">
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    document.addEventListener('DOMContentLoaded', function() {
        new TomSelect('.tom-select', {
            valueField: 'value',
            labelField: 'name',
            searchField: 'name',
            create: true,
        });
    });
{% endblock %}
