{# templates/reservation/reserv.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="image-container">
        <div class="image-container">
            <img src="{{ asset('https://cdn.pixabay.com/photo/2020/09/17/12/41/cafe-5579069_640.jpg') }}" alt="Image du restaurant" class="img-fluid image-reservation">
        </div>
    </div>
        <div class="row m-5">
            <div class="col-md-6">
                <h2>Informations sur le restaurant</h2>
                <p>Le restaurant est situé au 123 rue de la Paix, Paris.</p>
                <p>Il est ouvert tous les jours de la semaine de 12h à 23h.</p>
            </div>
            <div class="col-md-6">
                <h1>Nouvelle réservation</h1>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(form, {'attr': {'class': 'my-form-class'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}

