<div class="col-3">
    <div class="flex-shrink-0 p-3" style="width: 280px;">
        <a href="/"
           class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-5 fw-semibold">Accueil</span>
        </a>
        <ul class="list-unstyled ps-0">
            {% if is_granted('ROLE_OWNER') %}
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#home-collapse1" aria-expanded="true">
                        Menus
                    </button>
                    <div class="collapse show" id="home-collapse1">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{{ path('menus_list') }}"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Afficher</a>
                            </li>
                            <li><a href="{{ path('menus_new') }}"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ajouter</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        Éléments
                    </button>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{{ path('items_list') }}"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Afficher</a>
                            </li>
                            <li><a href="{{ path('items_new') }}"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ajouter</a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endif %}
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Compte
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{{ path('app_favoris') }}" class="link-dark d-inline-flex text-decoration-none rounded">Mes favoris</a>
                        </li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Paramètres</a>
                        </li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
