{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
    <div class="container d-block justify-content-center py-1 my-5">
        <div class="shadow-lg p-5 m-5 bg-body-tertiary rounded">
            <h2 class="pb-3">Contactez-nous</h2>
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.message) }}
                {{ form_row(form.send) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

