<div class="card px-0 mx-3 mb-3" style="width: 18rem;">
    <div id="carouselAutoplaying{{ loop.index }}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% if restaurant.images|length > 0 %}
                {% for image in restaurant.images %}
                    <div class="carousel-item object-fit-cover {% if loop.first %}active{% endif %}">
                        <img src="{{ asset(image.url) }}"
                             class="card-img-top d-block w-100" height="200px" alt="...">
                    </div>
                {% endfor %}
            {% else %}
                <div class="carousel-item object-fit-cover">
                    <img src="{{ asset('build/images/bouchon-lyonnais.7709293f.jpgbo') }}"
                         class="card-img-top d-block w-100" height="200px" alt="...">
                </div>
            {% endif %}

            {#            <div class="carousel-item object-fit-cover"> #}
            {#                <img src="https://www.restaurant-anglet.com/wp-content/uploads/2020/10/2-scaled.jpg" #}
            {#                     class="card-img-top d-block w-100" height="200px" alt="..."> #}
            {#            </div> #}
            {#            <div class="carousel-item object-fit-cover"> #}
            {#                <img #}
            {#                    src="https://th.bing.com/th/id/R.efa8f447cba810a15ea303ae6767ff0c?rik=%2fgk%2fCOIEkQwYaw&pid=ImgRaw&r=0" #}
            {#                    class="card-img-top d-block w-100" height="200px" alt="..."> #}
            {#            </div> #}
        </div>
        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselAutoplaying{{ loop.index }}"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselAutoplaying{{ loop.index }}"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ restaurant.name }}
            {% if is_granted('ROLE_USER') and restaurant in app.user.favorites %}
            <a href="{{ path('favorite_delete', {'id': restaurant.id}) }}" class="m-2">
                <svg class="bi bi-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                     fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
            </a>
            {% else %}
            <a href="{{ path('favorite_new', {'id': restaurant.id}) }}" class="m-2">
                <svg class="bi bi-heart" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                     fill="currentColor"
                     viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
                {% endif %}
            </a>
        </h5>
        <p class="card-text">{{ restaurant.city.realName }} {{ restaurant.city.zipCode }}
        </p>
        {% if timeSlot is defined and timeSlot is not empty %}
            {% set isFull = time_slot_service.checkAvailable(restaurant, timeSlot) %}
            {% if not isFull %}
                <p class="card-text text-success">Places restantes</p>
            {% else %}
                <p class="card-text text-danger">Complet</p>
            {% endif %}
        {% endif %}
        <a href="{{ path('reservation_new', {'id': restaurant.id}) }}" class="btn btn-primary">Réserver</a>
    </div>
</div>
