{% extends 'admin/admin.base.html.twig' %}

{% block content %}
    <div class="col-9">
        <h2>{{ restaurant.name }} - {{ restaurant.city.name }} ({{ restaurant.city.zipCode }})</h2>
        <p>{{ restaurant.category.name }}</p>
        <p>{{ restaurant.phone}}</p>
        <a href="{{ path('app_restaurant_edit', {'id': restaurant.id}) }}" class="btn btn-primary">Modifier</a>

        {% include 'restaurant/_timeslot.html.twig' %}
        <a class="btn btn-primary" href="{{ path('app_time_slot_new', {'id': restaurant.id}) }}">Ajouter un créneau d'ouverture</a>
    </div>
{% endblock %}
