<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>
        {% block title %}Tracker de Saveurs{% endblock %}
    </title>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="d-flex flex-column vh-100">

{% block navbar %}
    {% include 'home/_navbar.html.twig' %}
{% endblock %}

{% block search %}{% endblock %}

{% block content %}{% endblock %}

{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% block footer %}
    {% include 'home/_footer.html.twig' %}
{% endblock %}

<script>
    {% block script %}
    {% endblock %}
</script>
</body>
</html>
