{% extends 'base.html.twig' %}

{% block title %}Ajouter un menu{% endblock %}

{% block body %}

    <h1>Ajouter un menu</h1>
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            {{ form_label(form.reduction) }}
            {{ form_widget(form.reduction) }}
        </div>
        <div class="form-group">
            {{ form_label(form.diets) }}
            {{ form_widget(form.diets) }}
        </div>
        <div class="form-group">
            <select class="form-select" id="floatingSelectGrid">
                <option selected disabled>Élément</option>

                {% for choice in form.items.vars.choices %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
                {% endfor %}

            </select>
            <label for="floatingSelectGrid">Sélectionner un élément</label>

            {{ form_label(form.items) }}
            {{ dump(form.items) }}
            {{ form_widget(form.items) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
