{% extends 'base.html.twig' %}

{% block title %}Index des créneaux horaire{% endblock %}

{% block body %}
    <h1>Index des créneaux horaire</h1>

    <table class="table">
        <thead>
        <tr>
            <th>N°</th>
            <th>Jour</th>
            <th>Ouverture</th>
            <th>Fermeture</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for time_slot in time_slots %}
            <tr>
                <td>{{ time_slot.id }}</td>
                <td>{{ time_slot.day }}</td>
                <td>{{ time_slot.opening ? time_slot.opening|date('H:i:s') : '' }}</td>
                <td>{{ time_slot.closing ? time_slot.closing|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('timeslot_show', {'id': time_slot.id}) }}">Voir</a>
                    <a href="{{ path('timeslot_edit', {'id': time_slot.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de créneau trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('timeslot_new') }}">Nouveau créneau</a>
{% endblock %}
